.nav-a {
  display: block;
  padding: 1em;
  color: white;
}
.flex-style {
  display: flex;
  flex-direction: column;
  align-content: center;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 1.6;
}
#split2 {
  color: #fcfaf9;
  text-transform: uppercase;
}
#split {
  background-image: url(../img/adult.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}
#split h1 {
  font-size: 50px;
  line-height: 1.2;
}
h2 {
  text-decoration: underline;
}
#split p {
  font-size: 20px;
}
#split .button {
  font-size: 18px;
  text-decoration: none;
  background-color: #ff6d33;
  color: black;
  border: #926239 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  width: auto;
}
#split .button:hover {
  background: #fcfaf9;
  color: #1f0108;
}
.button {
  font-size: 12px;
  text-decoration: none;
  background-color: #ff6d33;
  color: black;
  border: #0c0c0c 1px solid;
  padding: 5px 5px 5px 5px;
  border-radius: 10px;
  margin-top: 10px;
  width: 100%;
}
.call-outs-container {
  max-width: 1400px;
  margin: 40px auto 0 auto;
}
.call-out {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 30%;
}
@media (max-width: 500px) {
  .call-outs-container .image-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    width: auto;
  }
}
.pay-img {
  width: 60vw;
  height: 35vh;
}
.call-out:nth-child(1) {
  background-color: #f6f9fa;
}
.call-out:nth-child(2) {
  background-color: #f8f8fc;
}
.call-out:nth-child(3) {
  background-color: #f8fbfc;
}
.image-container {
  max-width: 1400px;
  text-align: center;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f0108;
}
.logo {
  margin: 0 0 0 0.45em;
}
.logo a {
  color: #f74b07;
}
.logo,
.navigation {
  list-style: none;
  text-transform: uppercase;
}
.logo a,
.navigation a {
  text-decoration: none;
  letter-spacing: 0.45rem;
}
.navigation {
  display: flex;
}
.navigation a {
  display: block;
  padding: 1em;
  color: white;
}
.navigation a:hover {
  background: #ff6d33;
}
@media (max-width: 500px) {
  .logo {
    margin: 0.25em 0;
    align-self: left;
    width: 100vw;
  }
  .logo .flex-container {
    display: flex;
    width: 100vw;
  }
  .logo .flex-container .navigation {
    align-content: center;
    width: 100vw;
  }
  .logo .flex-container .navigation .a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(197, 34, 34, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex-direction: column;
    width: 100vw;
  }
}
@media (max-width: 500px) {
  .footer-distributed {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
}
.section {
  width: 100%;
  display: inline-block;
  background: #34495e;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: none;
  overflow: hidden;
}
.footer-distributed {
  background: #1f0108;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  font: bold;
  position: absolute;
  margin-top: 60px;
  margin-right: auto;
  margin-left: 0px;
  width: 100%;
  text-align: left;
  overflow: hidden;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}
/* Footer left */
.footer-distributed .footer-left {
  width: 40%;
}
/* The company logo */
.footer-distributed h3 {
  color: #ff6d33;
  font: normal 36px 'Open Sans', cursive;
  margin: 0;
}
/* Footer links */
.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}
.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}
/* Footer Center */
.footer-distributed .footer-center {
  width: 35%;
}
.footer-distributed .footer-center i {
  background-color: #ff6d33;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}
.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}
.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}
.footer-distributed .footer-center p a {
  color: white;
  text-decoration: none;
}
.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}
.footer-distributed .footer-links .link-1:before {
  content: none;
}
/* Footer Right */
.footer-distributed .footer-right {
  width: 20%;
}
.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}
.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer-distributed .footer-icons {
  margin-top: 25px;
}
.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #ff6d33;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}
@media (max-width: 500px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100vw;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}
html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.body {
  overflow: hidden;
}
.team-section {
  overflow: hidden;
  padding: 60px;
  text-align: center;
  background: #f8f5f5;
}
.team-section h1 {
  text-transform: uppercase;
  margin-bottom: 40px;
  color: black;
}
.border {
  display: block;
  margin: auto;
  width: 160px;
  height: 3px;
  background: #ff6d33;
  margin-bottom: 40px;
}
.ps {
  margin-bottom: 50px;
}
.ps a {
  display: inline-block;
  margin: 0 20px;
  width: 180px;
  height: 170px;
  overflow: hidden;
  border-radius: 50%;
}
.section {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 550px;
  margin: auto;
  font-size: 20px;
  color: black;
  text-align: center;
  height: 0;
  overflow: hidden;
  background-color: white;
}
.section:target {
  height: auto;
}
.name {
  display: block;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}
@media (max-width: 500px) {
  .section {
    flex-direction: column;
    height: 100%;
    width: auto;
  }
  .section .name {
    width: 75%;
    margin: auto;
  }
}
