

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(31, 1, 8);
}

.logo {
    margin: 0 0 0 .45em;
}

.logo a {
    color: #f74b07;
}

.logo,
.navigation {
    list-style: none;
    text-transform: uppercase;
}

.logo a,
.navigation a {
    text-decoration: none;
    letter-spacing: .45rem;
}

.navigation {
    display: flex;
}

.navigation a {
    .nav-a();
}

.navigation a:hover {
    background: @btn-background;
}

@media @mobile {

    .logo {
        margin: .25em 0;
        align-self: left;
        width: 100vw;
        .flex-container  {
            display: flex;
            width: 100vw;


            .navigation {

                align-content: center;
                width: 100vw;


                .a {
                    text-align: center;
                    padding: 10px;
                    border-top: 1px solid rgba(197, 34, 34, 0.3);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                    overflow: hidden;
                    flex-direction: column;
                    width: 100vw;

                }
            }

        }
    }
}


@media @mobile {
    .footer-distributed {
        .custom-layout(center, column);
    }
}