

// VARIABLES
// Colors
@primary-color: dodgerblue;
@light-text-color: rgb(231, 231, 231);
@light-border-color: rgb(154, 154, 154);
@bg-color: #202020;


// Device widths
@mobile : 500px;


// media q
@mobile: ~"(max-width: 500px)";
